/* ### Uni-Form by Dragan Babic  - http://dnevnikeklektika.com/ ### */ 
/* ### Some rights reserved - http://creativecommons.org/licenses/by-sa/2.5/ ### */

/* Uni-Form styles are embeded here for viewing convenience */
/* Edit below "user prefs" comment only for each selector */

.uniForm{
    margin:0; padding:0;
    position:relative;
    /*width:50%;*/
    /* user prefs */
    padding:1%;
}

/* Some generals */
.uniForm fieldset{
    border:none;
    margin:0; padding:0;
    /* user prefs */
    border-bottom:1px solid #efefef;
}
.uniForm fieldset legend{
    color:#000; /* Reset IE */
    margin:0; padding:0;
    /* user prefs */
    margin:0 0 .5em 0;
    font:bold small-caps 100%/100% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
    letter-spacing:.1em;
    color:#93b5be;
}

.ctrlHolder{ /* This is the main unit that contains our form "modules" */
             overflow:hidden;
             margin:0; padding:0;
             clear:both;
             /* user prefs */
             margin:0;
             padding:7px 0;
}

.buttonHolder{
    overflow:hidden;
    clear:both;
    /* user prefs */
    margin:10px 0 0 0; padding:10px;
    text-align:right;
}
.resetButton{
}
.submitButton{
}

.uniForm .inlineLabel{
    width:auto;
    float:none;
    display:inline;
    /* user prefs */
    margin:0 2em 0 0;
    font-weight:normal;
}
.uniForm .inlineLabel input{
}

/* Highlighting the rows on input focus */
.focused{
    background:#FFFCDF url(../images/forms/uf_focused.png);
    border:1px solid #EFE795; border-width:1px 0;
    padding:6px 4px;
}


/* Styles for form controls where labels are in line with the input elements */
/* Set the class to the parent to .inlineLabels */
.inlineLabels .ctrlHolder{
}
.inlineLabels label,.inlineLabels .label{
    float:left;
    padding:0 1% 0 0;
    line-height:100%;
    /* user prefs */
    width:30%;
    font-weight:bold;
    text-align: right;
}
.inlineLabels .textInput,.inlineLabels .fileUpload{
    float:left;
    /* user prefs */
    width:65%;
    border:2px solid #dfdfdf;
}
.inlineLabels .multipleInput .textInput {
    width:30%;
    margin-right: 1%;
    float:left;
}
.inlineLabels .ctrlHidden .textInput{ /* all choices in multiple except first */
                                      width:30%;
                                      /*margin-left:31%;*/
}

.inlineLabels .city {
    margin-left:31%;
    margin-right:2%;
    width:32%;
}
.inlineLabels .state {
    width:10%;
    margin-right: 2%;
}
.inlineLabels .zip {
    width:18%;
}
.inlineLabels .country {
    margin-left:31%;
    width:65%;
}
.inlineLabels .fileUpload > input{
}

.inlineLabels .selectInput{
    float:left;
    /* user prefs */
    width:69%;
    border:2px solid #dfdfdf;
}

.inlineLabels textarea{
    float:left;
    width:65%;
    /* user prefs */
    border:2px solid #dfdfdf;
    background: #FFFFFF;
    padding: 0;
}
.prefix {
    color:gray;
    float:left;
    line-height:100%;
    padding-right:1%;
}


.inlineLabels .formHint{
    clear:both;
    /* user prefs */
    color:#999;
    margin:.5em 0 0 30%; padding:3px 0;
    font-size:80%;
}

/* inlineLabels esthetics */
.inlineLabels .formHint strong{
    padding:0 0 0 14px;
    background:url(../images/forms/icon_alert.png) 0 0 no-repeat;
    display:inline-block;
}

.inlineLabels .errorInput {
    border: 2px solid #FF0000;
}
.input-prefix {
    width:40% !important;
    float:left !important;
}

/* ########################################################################## */

/* Styles for form controls where labels are above the input elements */
/* Set the class to the parent to .blockLabels */
.blockLabels .ctrlHolder{
}

.blockLabels label,
.blockLabels .label{
    display:block;
    float:none;
    margin:.3em 0; padding:0;
    line-height:100%;
    width:60%;
    /* user prefs */
    font-weight:bold;
    width:auto;
}
.blockLabels .label{
    float:left;
    margin-right:3em;
}

.blockLabels .textInput{
    float:left;
    width:60%;
    /* user prefs */
    border:2px solid #dfdfdf;
}

.blockLabels .selectInput{
    float:left;
    width:60%;
    /* user prefs */
    border:2px solid #dfdfdf;

}

.blockLabels textarea{
    display:block;
    float:left;
    width:60%;
    /* user prefs */
    border:2px solid #dfdfdf;
    height:12em;
}

.blockLabels .formHint{
    float:right;
    margin:0;
    width:38%;
    clear:none;
    /* user prefs */
    color:#999;
    font-size:80%;
    font-style:italic;
}

/* blockLabels esthetics */
.blockLabels .ctrlHolder{
    border:1px solid #dfdfdf; border-width:1px 0;
    margin-top:-1px;
}

.blockLabels .focused{
    padding:7px 4px;
}

/* ########################################################################## */

/* Focus pseudoclasses */
.ctrlHolder .textInput:focus{
    border-color:#DFD77D;
}
div.focused .textInput:focus{
}
div.focused .formHint{
    color:#000;
}

/* Required asterisk styling, use if needed */
label em, .label em{
    display:block;
    float:right;
    font-style:normal;
    font-weight:bold;
    left:0;
    padding-right:1px;
}
.blockLabels label em,
.blockLabels .label em{
    position:static;
    display:inline;
}

/* Messages */
.uniForm #errorMsg{
    background:#ffdfdf url(../images/forms/uf_error.png);
    border:1px solid #df7d7d; border-width:1px 0;
    margin:0 0 1em 0; padding:1em;
}
.uniForm .error,
.uniForm .blockLabels.ctrlHolder.error{
    background:#ffdfdf url(../images/forms/uf_error.png);
    border:1px solid #df7d7d; border-width:1px 0;
    position:relative;
}
.uniForm #errorMsg dt,
.uniForm #errorMsg h3{
    margin:0 0 .5em 0;
    font-size:110%;
    line-height:100%;
    font-weight:bold;
    color:#000;
    padding:2px 0 2px 18px;
    background:url(../images/forms/icon-error.png) 0 0 no-repeat;
}
.uniForm #errorMsg dd{
    margin:0; padding:0;
}
.uniForm #errorMsg ol{
    margin:0; padding:0;
}
.uniForm #errorMsg ol li{
    margin:0; padding:2px;
    list-style-position:inside;
    border-bottom:1px dotted #df7d7d;
    position:relative;
}
.uniForm .errorField{
    margin:0 0 3px 0;
}
.uniForm .inlineLabels .errorField{
    margin-left:30%;
}
.uniForm .errorField strong{
    background:#FFE2E2;
    padding:1px 3px 3px 3px;
}
.ctrlHolder.error input,
.ctrlHolder.error input:focus{
    border-color:#DF7D7D;
}
.ctrlHolder.error.focused{
    padding:7px 4px;
}


/* Resetting the browser defaults */
/*
fieldset{
	margin: 0;	padding: 0;
	font: 100%/140% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
}
*/
/* Form field text-scaling */
/*
select, 
input, 
textarea{ 
  font: 99%/140% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
}
*/
/* Fixing monospaced fonts */
pre,
code{
    font:125% monospace;
}

/* Miscellaneous conveniences */
form label{
    cursor: default;
}
fieldset{
    border: none;
}
legend{
    font-weight:bold;
    color:#93b5be;
}

abbr,
acronym{
    border-bottom:1px dotted #ccc;
    font-variant:small-caps;
    cursor:help;
}

#errorMsg {
    display:none
}

.can-edit-items .jeip-mouseover {
    background:url(../images/forms/edit.png) no-repeat right;
    padding-right:20px;
}
span.edit-icon {
    height:16px;
    text-indent:-9999px;
    width:16px;
    display:none;
}
.can-edit-items .url-field:hover .edit-icon {
    display:inline-block;
    background:transparent url(../images/forms/edit.png) no-repeat right center;
    padding-right:0px;
}
.jeip-editfield {
    width:90%;
}