/*
LAYOUT: One-Column 
DESCRIPTION: One-column fluid layout with sidebars stacked in two columns below info
*/

#primary, #secondary {
	float: left;
	overflow: hidden;
	padding: 10px .4%;
	width: 49%;
}
#primary {
	clear: both;
}
#footer {
	clear: left;
	width: 100%;
}