/*
LAYOUT: Two-Column Wide Sidebars(Left)
DESCRIPTION: Two-column fluid layout with one wide sidebar left of info
*/
div#container {
    float:right;
    margin:0 0 0 -280px;
    width:100%;
}
div#main, .navigation {
    margin:0 0 0 290px;
}
div.sidebar {
    float:left;
    overflow:hidden;
    width:280px;
}
div#secondary {
    clear:left;
}
div#footer {
    clear:both;
    width:100%;
}