/*
LAYOUT: Two-Column (Left)
DESCRIPTION: Two-column fluid layout with one sidebars left of info
*/
div#container {
    float:right;
    margin:0 0 0 -200px;
    width:100%;
}
div#main, .navigation {
    margin:0 0 0 190px;
}
div.sidebar {
    float:left;
    overflow:hidden;
    width:180px;
}
div#secondary {
    clear:left;
}
div#footer {
    clear:both;
    width:100%;
}