/*
LAYOUT: Two-Column Wide Sidebars Right)
DESCRIPTION: Two-column fluid layout with one wide sidebar right of info
*/
div#container {
    float:left;
    margin:0 -290px 0 0;
    width:100%;
}
div#main, .navigation {
    margin:0 280px 0 0;
}
div.sidebar {
    float:right;
    overflow:hidden;
    width:280px;
}
div#secondary {
    clear:right;
}
div#footer {
    clear:both;
    width:100%;
}