/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of info
*/
div#container {
    float:right;
    margin:0 0 0 -360px;
    width:100%;
}
div#main, .navigation {
    margin:0 0 0 370px;
}
div.sidebar {
    float:right;
    overflow:hidden;
    width:180px;
}
div#footer {
    clear:both;
    width:100%;
}