/*
PRINT: Standard Print styles
*/

body {
    background:none !important;
}
#primary, #secondary {
    float: left;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
#primary {
    clear: both;
}
#footer {
    clear: left;
    width: 100%;
}

#access, #menu , #respond, #footer{
    display: none;
}