/*
Styles for RoloPress admin screens
*/

/* =General
-------------------------------------------------------------- */
#user_info a:link, #user_info a:visited, #footer a:link, #footer a:visited {
    color:#fff;
}
#user_info p {
    color:#fff;
}

/* =Login
-------------------------------------------------------------- */
#login h1 a {
    background:url(../../images/admin/rolo-login.gif) no-repeat top;
}

/* =Header
-------------------------------------------------------------- */ 
#header-logo {
    background:transparent url(../../images/admin/rolopress-icon-bk.gif) no-repeat scroll center center;
}
#wphead {
    background:#464646;
}
#wphead h1 a {
    color:#fff;
}

/* =Footer
-------------------------------------------------------------- */
#footer, #footer-rolo {
    background: #464646;
    color:#999999;
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size:12px;
    font-style:italic;
}
#footer, #footer-rolo a:link, #footer-rolo a:visited {
    color:#CCCCCC;
    text-decoration:none;
}
#footer-rolo {
    padding-left:15px;
}

/* =Edit Posts
-------------------------------------------------------------- */
.edit-php #doaction{
    margin-right:75%;
}
img.avatar {
    border:1px solid #E1E1E1
}


/* =Widgets
-------------------------------------------------------------- */
.rolo_widget_icon { /* appears in default widgets */
                    float:left;
                    padding:0 5px 0 0 ;
}
.rolo_dashboard_widget_footer{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-weight: bold;
}
.email_subscribe {
    background:transparent url(../../images/admin/email.png) no-repeat scroll left;
    padding:0 0 0 24px;
}
.rss_subscribe {
    background:transparent url(../../images/admin/rss.png) no-repeat scroll left;
    padding:0 10px 0 20px;
}

/* =Menu's
-------------------------------------------------------------- */
.form_section {
    width:100%;
    clear:both
}

/* =Menu: Appearance Layout
-------------------------------------------------------------- */
#rolo_layout_setting_form{
    float:left;
    margin:0 0 50px 0;
}
.rolo_layout_setting_column {
    width:27%;
    padding: 0 1% 3% 1%;
    float:left;
    text-align:center;
}