/*
LAYOUT: Three-Column
DESCRIPTION: Three-column fluid layout with two sidebars on both sides of info
*/

#container {
	float: left;
	width: 100%;
}
#info, .navigation {
	margin: 0 300px;
}
#primary, #secondary {
	overflow: hidden;
	width: 280px;
	float: left;
}
#primary {
	margin: 0 0 0 -100%;
}
* html #primary {
	left:20px;
	position:relative;
}
#secondary {
	margin: 0 0 0 -280px;
}
#footer {
	clear: left;
	width: 100%;
}