/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of info
*/

#container {
	float: right;
	margin: 0 0 0 -600px;
	width: 100%;
}
#info , .navigation{
	margin: 0 0 0 600px;
}
#primary, #secondary {
	float: left;
	overflow: hidden;
	width: 280px;
}
#primary {
	margin: 0 20px 0 0;
}
#footer {
	clear: both;
	width: 100%;
}