/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of info
*/

#container {
	float: right;
	margin: 0 0 0 -400px;
	width: 100%;
}
#info, .navigation  {
	margin: 0 0 0 380px;
	overflow:hidden;
}
#primary, #secondary {
	float: left;
	overflow: hidden;
	width: 180px;
}
#primary {
	margin: 0 5px 0 0;
}
#footer {
	clear: both;
	width: 100%;
}