/*
LAYOUT: Three-Column (Right)
DESCRIPTION: Three-column fluid layout with two sidebars right of info
*/

#container {
	float: left;
	width: 100%;
}
#info {
	margin: 0 400px 0 0;
}
#primary, #secondary {
	float: left;
	overflow: hidden;
	width: 180px;
}
#primary {
	margin: 0 0 0 -380px;
}
#secondary {
	margin: 0 0 0 -180px;
}
#footer {
	clear: left;
	width: 100%;
}